In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 23.7 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=e892a5fe021234fb8265d15bbf9289a32ecc04462f4543f1fd1f1086eed0d325
  Stored in directory: /root/.cache/pip/wheels/b1/59/a0/a1a0624b5e865fd389919c1a10f53aec9b12195d6747710baf
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [7]:
#Importing necessary Libraries and creating spark session
from pyspark.sql import SparkSession
from pyspark.sql.types import *
spark = SparkSession.builder.config('spark.some.config.option','some-value').getOrCreate()
spark

In [5]:
from pyspark.sql.types import StructType, StringType, IntegerType,DoubleType, DataType, LongType

In [ ]:
import pyspark as sp

sc = sp.SparkContext.getOrCreate()
print(sc)
print(sc.version)

<SparkContext master=local[*] appName=pyspark-shell>
3.3.2

In [ ]:
#import SparkSeccion pyspark.sql
from pyspark.sql import SparkSession

#Create my_spark
spark = SparkSession.builder.getOrCreate()

#print my_spark
print(spark)

<pyspark.sql.session.SparkSession object at 0x7f4fec18b8b0>

In [ ]:
import pandas as pd
import numpy as np

# Create pd_temp
pd_temp = pd.DataFrame(np.random.random(10))

# Create spark_temp from pd_temp
spark_temp = spark.createDataFrame(pd_temp)

# Examine the tables in the catalog
print(spark.catalog.listTables())

# Add spark_temp to the catalog
spark_temp.createOrReplaceTempView("temp")

# Examine the tables in the catalog again
print(spark.catalog.listTables())

[]
[Table(name='temp', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [8]:
file_path1 = "/content/drive/MyDrive/Final Project/datasets/stores.csv"

#Read in the stores path
stores = spark.read.csv(file_path1, header=True)

stores.show()

+-----+----+------+
|Store|Type|  Size|
+-----+----+------+
|    1|   A|151315|
|    2|   A|202307|
|    3|   B| 37392|
|    4|   A|205863|
|    5|   B| 34875|
|    6|   A|202505|
|    7|   B| 70713|
|    8|   A|155078|
|    9|   B|125833|
|   10|   B|126512|
|   11|   A|207499|
|   12|   B|112238|
|   13|   A|219622|
|   14|   A|200898|
|   15|   B|123737|
|   16|   B| 57197|
|   17|   B| 93188|
|   18|   B|120653|
|   19|   A|203819|
|   20|   A|203742|
+-----+----+------+
only showing top 20 rows

In [ ]:
# Examine the tables in the catalog
print(spark.catalog.listTables())

# Add spark_temp to the catalog
spark_temp.createOrReplaceTempView("stores")

# Examine the tables in the catalog again
print(spark.catalog.listTables())

[Table(name='temp', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]
[Table(name='stores', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='temp', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [9]:
stores.describe().printSchema()

root
 |-- summary: string (nullable = true)
 |-- Store: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Size: string (nullable = true)

In [13]:
from pyspark.sql.types import StringType, StringType, IntegerType, DoubleType, DataType, LongType

schema = StructType([
    StructField('Store', StringType(), True),
    StructField('Type',StringType(), True),
    StructField('Size',DoubleType(), True)
])

In [15]:
df_store=spark.read.format("csv").option("header","False").schema(schema).load("/content/drive/MyDrive/Final Project/datasets/stores.csv")

In [ ]:
df_store.show()

In [16]:
df_store.registerTempTable("store")

/usr/local/lib/python3.8/dist-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [17]:
spark.sql("select * from store").show(5)

+-----+----+--------+
|Store|Type|    Size|
+-----+----+--------+
|Store|Type|    null|
|    1|   A|151315.0|
|    2|   A|202307.0|
|    3|   B| 37392.0|
|    4|   A|205863.0|
+-----+----+--------+
only showing top 5 rows

In [ ]:
#

#Q1. Number of stores in each store Type

In [ ]:
from pyspark.sql.functions import count

In [ ]:
stores.select("Type", count("store") "store_count" from stores group by Type order by "store_count"  desc).show(5)

SyntaxError: ignored

In [ ]:
spark.sql ('Select Type, count(Store) store_count from stores group by Type order by store_count  desc').show()

AnalysisException: ignored

In [ ]:
file_path2 = "/content/drive/MyDrive/Final Project/datasets/train.csv"

#Read in the sales path
sales = spark.read.csv(file_path2, header=True)

sales.show()

+-----+----+----------+------------+---------+
|Store|Dept|      Date|Weekly_Sales|IsHoliday|
+-----+----+----------+------------+---------+
|    1|   1|2010-02-05|     24924.5|    FALSE|
|    1|   1|2010-02-12|    46039.49|     TRUE|
|    1|   1|2010-02-19|    41595.55|    FALSE|
|    1|   1|2010-02-26|    19403.54|    FALSE|
|    1|   1|2010-03-05|     21827.9|    FALSE|
|    1|   1|2010-03-12|    21043.39|    FALSE|
|    1|   1|2010-03-19|    22136.64|    FALSE|
|    1|   1|2010-03-26|    26229.21|    FALSE|
|    1|   1|2010-04-02|    57258.43|    FALSE|
|    1|   1|2010-04-09|    42960.91|    FALSE|
|    1|   1|2010-04-16|    17596.96|    FALSE|
|    1|   1|2010-04-23|    16145.35|    FALSE|
|    1|   1|2010-04-30|    16555.11|    FALSE|
|    1|   1|2010-05-07|    17413.94|    FALSE|
|    1|   1|2010-05-14|    18926.74|    FALSE|
|    1|   1|2010-05-21|    14773.04|    FALSE|
|    1|   1|2010-05-28|    15580.43|    FALSE|
|    1|   1|2010-06-04|    17558.09|    FALSE|
|    1|   1|2010-06-11|    16637.62|    FALSE|
|    1|   1|2010-06-18|    16216.27|    FALSE|
+-----+----+----------+------------+---------+
only showing top 20 rows

In [ ]:
# Examine the tables in the catalog
print(spark.catalog.listTables())

# Add spark_temp to the catalog
spark_temp.createOrReplaceTempView("sales")

# Examine the tables in the catalog again
print(spark.catalog.listTables())

[Table(name='stores', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='temp', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]
[Table(name='sales', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='stores', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='temp', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [ ]:
sales.describe().printSchema()

root
 |-- summary: string (nullable = true)
 |-- Store: string (nullable = true)
 |-- Dept: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Weekly_Sales: string (nullable = true)
 |-- IsHoliday: string (nullable = true)

In [ ]:
file_path3 = "/content/drive/MyDrive/Final Project/datasets/features.csv"

#Read in the sales path
features = spark.read.csv(file_path3, header=True)

features.show()

+-----+----------+-----------+----------+---------+---------+---------+---------+---------+-----------+------------+---------+
|Store|      Date|Temperature|Fuel_Price|MarkDown1|MarkDown2|MarkDown3|MarkDown4|MarkDown5|        CPI|Unemployment|IsHoliday|
+-----+----------+-----------+----------+---------+---------+---------+---------+---------+-----------+------------+---------+
|    1|2010-02-05|      42.31|     2.572|       NA|       NA|       NA|       NA|       NA|211.0963582|       8.106|    FALSE|
|    1|2010-02-12|      38.51|     2.548|       NA|       NA|       NA|       NA|       NA|211.2421698|       8.106|     TRUE|
|    1|2010-02-19|      39.93|     2.514|       NA|       NA|       NA|       NA|       NA|211.2891429|       8.106|    FALSE|
|    1|2010-02-26|      46.63|     2.561|       NA|       NA|       NA|       NA|       NA|211.3196429|       8.106|    FALSE|
|    1|2010-03-05|       46.5|     2.625|       NA|       NA|       NA|       NA|       NA|211.3501429|       8.106|    FALSE|
|    1|2010-03-12|      57.79|     2.667|       NA|       NA|       NA|       NA|       NA|211.3806429|       8.106|    FALSE|
|    1|2010-03-19|      54.58|      2.72|       NA|       NA|       NA|       NA|       NA| 211.215635|       8.106|    FALSE|
|    1|2010-03-26|      51.45|     2.732|       NA|       NA|       NA|       NA|       NA|211.0180424|       8.106|    FALSE|
|    1|2010-04-02|      62.27|     2.719|       NA|       NA|       NA|       NA|       NA|210.8204499|       7.808|    FALSE|
|    1|2010-04-09|      65.86|      2.77|       NA|       NA|       NA|       NA|       NA|210.6228574|       7.808|    FALSE|
|    1|2010-04-16|      66.32|     2.808|       NA|       NA|       NA|       NA|       NA|   210.4887|       7.808|    FALSE|
|    1|2010-04-23|      64.84|     2.795|       NA|       NA|       NA|       NA|       NA|210.4391228|       7.808|    FALSE|
|    1|2010-04-30|      67.41|      2.78|       NA|       NA|       NA|       NA|       NA|210.3895456|       7.808|    FALSE|
|    1|2010-05-07|      72.55|     2.835|       NA|       NA|       NA|       NA|       NA|210.3399684|       7.808|    FALSE|
|    1|2010-05-14|      74.78|     2.854|       NA|       NA|       NA|       NA|       NA|210.3374261|       7.808|    FALSE|
|    1|2010-05-21|      76.44|     2.826|       NA|       NA|       NA|       NA|       NA|210.6170934|       7.808|    FALSE|
|    1|2010-05-28|      80.44|     2.759|       NA|       NA|       NA|       NA|       NA|210.8967606|       7.808|    FALSE|
|    1|2010-06-04|      80.69|     2.705|       NA|       NA|       NA|       NA|       NA|211.1764278|       7.808|    FALSE|
|    1|2010-06-11|      80.43|     2.668|       NA|       NA|       NA|       NA|       NA|211.4560951|       7.808|    FALSE|
|    1|2010-06-18|      84.11|     2.637|       NA|       NA|       NA|       NA|       NA|211.4537719|       7.808|    FALSE|
+-----+----------+-----------+----------+---------+---------+---------+---------+---------+-----------+------------+---------+
only showing top 20 rows

In [ ]:
# Examine the tables in the catalog
print(spark.catalog.listTables())

# Add spark_temp to the catalog
spark_temp.createOrReplaceTempView("features")

# Examine the tables in the catalog again
print(spark.catalog.listTables())

[Table(name='sales', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='stores', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='temp', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]
[Table(name='features', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='sales', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='stores', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='temp', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [ ]:
features.describe().printSchema()

root
 |-- summary: string (nullable = true)
 |-- Store: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Temperature: string (nullable = true)
 |-- Fuel_Price: string (nullable = true)
 |-- MarkDown1: string (nullable = true)
 |-- MarkDown2: string (nullable = true)
 |-- MarkDown3: string (nullable = true)
 |-- MarkDown4: string (nullable = true)
 |-- MarkDown5: string (nullable = true)
 |-- CPI: string (nullable = true)
 |-- Unemployment: string (nullable = true)
 |-- IsHoliday: string (nullable = true)

In [10]:
file_path4 = "/content/drive/MyDrive/Final Project/Out1/store_sales.csv"

#Read in the sales path
Store_sale = spark.read.csv(file_path4, header=True)

Store_sale.show()

+---+-----+----------+-----------------------------+-----------+----------+-----------+------------+---------+----+-----+----+-------+--------+
|_c0|Store|      Date|Store Weekly Sales (Thousand)|Temperature|Fuel_Price|        CPI|Unemployment|IsHoliday|Week|Month|Year|Quarter|MarkDown|
+---+-----+----------+-----------------------------+-----------+----------+-----------+------------+---------+----+-----+----+-------+--------+
|  0|    1|2010-02-05|                    1643.6909|      42.31|     2.572|211.0963582|       8.106|    False|   5|    2|2010|      1|    null|
|  1|    1|2010-02-12|           1641.9574400000001|      38.51|     2.548|211.2421698|       8.106|     True|   6|    2|2010|      1|    null|
|  2|    1|2010-02-19|                   1611.96817|      39.93|     2.514|211.2891429|       8.106|    False|   7|    2|2010|      1|    null|
|  3|    1|2010-02-26|                   1409.72759|      46.63|     2.561|211.3196429|       8.106|    False|   8|    2|2010|      1|    null|
|  4|    1|2010-03-05|           1554.8066800000001|       46.5|     2.625|211.3501429|       8.106|    False|   9|    3|2010|      1|    null|
|  5|    1|2010-03-12|                   1439.54159|      57.79|     2.667|211.3806429|       8.106|    False|  10|    3|2010|      1|    null|
|  6|    1|2010-03-19|                   1472.51579|      54.58|      2.72| 211.215635|       8.106|    False|  11|    3|2010|      1|    null|
|  7|    1|2010-03-26|                   1404.42992|      51.45|     2.732|211.0180424|       8.106|    False|  12|    3|2010|      1|    null|
|  8|    1|2010-04-02|                   1594.96828|      62.27|     2.719|210.8204499|       7.808|    False|  13|    4|2010|      2|    null|
|  9|    1|2010-04-09|                   1545.41853|      65.86|      2.77|210.6228574|       7.808|    False|  14|    4|2010|      2|    null|
| 10|    1|2010-04-16|                   1466.05828|      66.32|     2.808|   210.4887|       7.808|    False|  15|    4|2010|      2|    null|
| 11|    1|2010-04-23|                   1391.25612|      64.84|     2.795|210.4391228|       7.808|    False|  16|    4|2010|      2|    null|
| 12|    1|2010-04-30|                   1425.10071|      67.41|      2.78|210.3895456|       7.808|    False|  17|    4|2010|      2|    null|
| 13|    1|2010-05-07|           1603.9551199999999|      72.55|     2.835|210.3399684|       7.808|    False|  18|    5|2010|      2|    null|
| 14|    1|2010-05-14|                    1494.2515|      74.78|     2.854|210.3374261|       7.808|    False|  19|    5|2010|      2|    null|
| 15|    1|2010-05-21|                   1399.66207|      76.44|     2.826|210.6170934|       7.808|    False|  20|    5|2010|      2|    null|
| 16|    1|2010-05-28|                   1432.06995|      80.44|     2.759|210.8967606|       7.808|    False|  21|    5|2010|      2|    null|
| 17|    1|2010-06-04|                   1615.52471|      80.69|     2.705|211.1764278|       7.808|    False|  22|    6|2010|      2|    null|
| 18|    1|2010-06-11|                   1542.56109|      80.43|     2.668|211.4560951|       7.808|    False|  23|    6|2010|      2|    null|
| 19|    1|2010-06-18|                   1503.28406|      84.11|     2.637|211.4537719|       7.808|    False|  24|    6|2010|      2|    null|
+---+-----+----------+-----------------------------+-----------+----------+-----------+------------+---------+----+-----+----+-------+--------+
only showing top 20 rows

In [12]:
Store_sale.describe().printSchema()

root
 |-- summary: string (nullable = true)
 |-- _c0: string (nullable = true)
 |-- Store: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Store Weekly Sales (Thousand): string (nullable = true)
 |-- Temperature: string (nullable = true)
 |-- Fuel_Price: string (nullable = true)
 |-- CPI: string (nullable = true)
 |-- Unemployment: string (nullable = true)
 |-- IsHoliday: string (nullable = true)
 |-- Week: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Quarter: string (nullable = true)
 |-- MarkDown: string (nullable = true)

In [ ]:
#spark.stop()

In [25]:
#Q1. Number of stores in each store Type

spark.sql("Select Type, count(store) store_count from store group by Type order by store_count  desc").show()

+----+-----------+
|Type|store_count|
+----+-----------+
|   A|         22|
|   B|         17|
|   C|          6|
|Type|          1|
+----+-----------+

In [24]:
#Q2.Total sale by store type

spark.sql("select Type, count('Avg Yearly Sales (Million)') as sales from store group by Type order by sales desc").show()

+----+-----+
|Type|sales|
+----+-----+
|   A|   22|
|   B|   17|
|   C|    6|
|Type|    1|
+----+-----+

In [ ]:
#Q3.Top 10 stores which are making the highest Sales.

spark.sql(“select Store, count(“Avg Yearly Sales (Million)”) as Store_sales from stores group by Store order by Store_sales desc limit 10”).show()

In [ ]:
#Q4.Bottom 10 stores which are making the highest Sales.

spark.sql(“select Store, count(“Avg Yearly Sales (Million)”) as salesByStores from stores group by Store order by salesByStores limit 10”).show()

In [ ]:
#Q5. What is the max and min weekly sales?
spark.sql(“select(max('Avg Yearly Sales (Million)'), min('Weekly Sales (Million)') from stores").show()

In [26]:
#Q6. Total sales on week of Holiday And week of not having Holiday.

spark.sql(“select IsHoliday, count(“Avg Yearly Sales (Million)”) as Sales from store_sales group by IsHoliday order by Sales limit 10”).show()

SyntaxError: ignored

In [ ]:
#Q7.Top 10 stores by Markdown.

spark.sql(“select Store, count(“MarkDown”) as Total_MarkDown from store_sales
group by Store order by Total_MarkDown limit 10”).show()

In [ ]:
#Q8.Find how much Sales is done per Year
spark.sql(“select year, count(“Store Weekly Sales (Thousand)”) as Sales_per_Year from store_sales
group by year order by Sales_per_Year”).show()